<div class="card">
    <div class="card-header">
    Tabela do sistema
    </div>
<div class="card-body">
    <div class="card-header">
        <ol class="list-group">
            <li class="list-group-item">Itens da Lista</li>
            <li class="list-group-item">Itens da Lista</li>
            <li class="list-group-item">Itens da Lista</li>
            <li class="list-group-item">Itens da Lista</li>
        </ol>
    </div>
</div>
</div>