

<div class="container col-4">
<form>
    <div class="mb-3">
            <label for="aliTabela" class="form-label">Coloque um nome</label>
            <input type="type" class="form-control" id="aliTabela" aria-describedby="alitabeHelp">
        </div>
</form>
</div>
<script>
    const nome = document.querySelector("label");

    if(nome){
        document.innerHTML = nome.value
    }




</script>
